<footer class="global-footer">
    <div class="global-footer-wrapper">
      <div class="footer-nav mb-4">
        <ul class="footer-nav-items">
          <li class="footer-nav-item">
            <a href="/">About</a>
          </li>
          <li class="footer-nav-item">
            <a href="/">Safety</a>
          </li>
          <li class="footer-nav-item">
            <a href="/">Support</a>
          </li>
          <li class="footer-nav-item">
            <a href="/">Blog</a>
          </li>
          <li class="footer-nav-item">
            <a href="/">Shop</a>
          </li>
          <li class="footer-nav-item">
            <a href="/">Cookie settings</a>
          </li>
        </ul>
      </div>
  
      <div class="link-block">
        <section class="social-media">
          <h3 class="footer-header">Connect With Us</h3>
          <ul class="social-media-list">
            <li class="social-media-icon">
              <a href="https://www.linkedin.com/in/oleksii-drabchak/" target="_blank">
                <i class="fa-brands fa-linkedin icon"></i>
                <i class="fa-brands fa-linkedin fa-beat-fade icon-hover"></i>
              </a>
            </li>
            <li class="social-media-icon">
              <a href="https://www.facebook.com" target="_blank">
                <i class="fa-brands fa-facebook icon"></i>
                <i class="fa-brands fa-facebook fa-beat-fade icon-hover"></i>
              </a>
            </li>
            <li class="social-media-icon">
              <a href="https://twitter.com/?lang=en" target="_blank">
                <i class="fa-brands fa-twitter icon"></i>
                <i class="fa-brands fa-twitter fa-beat-fade icon-hover"></i>
              </a>
            </li>
            <li class="social-media-icon">
              <a href="https://www.instagram.com" target="_blank">
                <i class="fa-brands fa-instagram icon"></i>
                <i class="fa-brands fa-instagram fa-beat icon-hover"></i>
              </a>
            </li>
          </ul>
        </section>
  
        <section class="apps">
          <h3 class="footer-header">Mobile apps</h3>
          <ul class="social-media-list">
            <li class="social-media-icon">
              <a href="https://www.apple.com" target="_blank">
                <i class="fa-brands fa-apple icon"></i>
                <i class="fa-brands fa-apple fa-beat-fade icon-hover"></i>
              </a>
            </li>
            <li class="social-media-icon">
              <a href="https://www.android.com" target="_blank">
                <i class="fa-brands fa-android icon"></i>
                <i class="fa-brands fa-android fa-beat-fade icon-hover"></i>
              </a>
            </li>
          </ul>
        </section>
      </div>
  
      <ul class="footer-links-list">
        <li class="footer-links-list-item">
          © Couchsurfing International, Inc. Since 2023
        </li>
        <li class="footer-links-list-item">
          <a href="/">
            Terms
          </a>
        </li>
        <li class="footer-links-list-item">
          <a href="/">
            Privacy
          </a>
        </li>
        <li class="footer-links-list-item">
          <a href="/">
            Sitemap
          </a>
        </li>
      </ul>
    </div>
  </footer>