.global-footer {
  background: var(--dark-black);
  width: 100%;
  height: 263px;
  font-size: 16px;

  display: flex;
  justify-content: flex-start;
  color: var(--white);

  padding: 2.2rem 0 1.5rem;
}

.global-footer-wrapper {
  margin-left: 120px;
  height: 100%;
  width: 90%;
}

.footer-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  column-gap: 40px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 21px;
}

.footer-nav-item a {
  color: var(--white);
  cursor: pointer;
}

.footer-nav-item a:hover {
  color: var(--orange);
}

.link-block {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex: 1 100%;
}

.footer-header {
  color: var(--grey);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .2px;
  text-transform: uppercase;
}

.social-media-list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  column-gap: 15px;
}

.social-media-icon a {
  color: var(--white);
  cursor: pointer;
}

.social-media-icon a:hover {
  color: var(--light-blue);
}

* > .icon-hover,
*:hover > .icon {
  display: none;
}

*:hover > .icon-hover {
  display: inline-block;
}

.footer-links-list {
  width: 40%;
  margin-top: 60px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}

.footer-links-list a {
  width: 60px;
  color: var(--white);
  cursor: pointer;
}
