.profile-completion-lvl {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-black);
}

.bar {
  width: 260px;
  padding: 20px;
}

.pcompletion-lvl-header {
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}

.header-title {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.progress-bar {
  height: 30px;
}

.progress {
  height: 100%;
  cursor: pointer;
}

.expected-progress {
  width: 100%;
  background-color: var(--black);
  border-radius: 2px;
}

.actual-progress {
  z-index: 999;
  background-color: var(--light-green);
  border-radius: 2px 0 0 2px;
  text-shadow: 0 0 1px #000;
  font-weight: bold;
  display: flex;
  padding-left: 6px;
  align-items: center;
}

.complete-profile-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-link {
  color: var(--light-blue);
  font-weight: bold;
  font-size: inherit;
  cursor: pointer;
}

.action-link:hover {
  color: var(--orange);
}
