.user-info {
  width: 300px;
  height: 170px;
  background-color: var(--dark-black);
}

.user-info-header {
  display: flex;
  height: 63px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.user-info-username, a {
  font-size: 1em;
  letter-spacing: 0;
  text-align: center;
  text-transform: none;
  margin-bottom: 10px;
  color: var(--white);
}

.user-info-location {
  font-size: 1em;
}

.dropdown-wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 66px;
}

.select-btn {
  display: flex;
  align-items: center;
}

.select-icon {
  margin-left: 5px;
}

.accommodation-options {
  z-index: 999;
  position: absolute;
  top: 80%;
  left: 50px;
  padding-left: 0;
  margin: 0;
  width: 200px;
  background-color: var(--dark-black);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.accommodation-options.open {
  max-height: 300px;
}

.search-option {
  display: flex;
  justify-content: flex-start;
  padding: 10px 7px;
  border: 1px solid var(--grey);
  border-bottom: 2px solid var(--grey);
}

.search-option:hover {
  background: var(--black);
  color: var(--orange);
}
