<div class="content">
  <header class="titles">
    <h2 class="title">Stay with Locals and Meet Travelers</h2>
    <h4 class="title">Share Authentic Travel Experience</h4>
  </header>

  <main class="auth">
    <div class="signup-helper">
      <h4 class="title">Sign Up Faster With</h4>
      <button type="button" id="fb-register">Facebook</button>
      <p class="title">We will never post without your permission.</p>
    </div>

    <div><h3 class="title">or</h3></div>

    <div class="signup">
      <div>
        <h4>Sign Up With Email</h4>
      </div>
      <div class="form">
        <div *ngIf="errorMsg.length" class="alert alert-danger err" role="alert">
          <p *ngFor="let msg of errorMsg">{{ msg }}</p>
        </div>
        <div class="form-in">
          <label for="firstName">First name</label>
          <input [(ngModel)]="registrationRequest.firstName" id="firstName" type="text" placeholder="First name"
                 class="sup-data"/>
        </div>
        <div class="form-in">
          <label for="lastName">Last name</label>
          <input [(ngModel)]="registrationRequest.lastName" id="lastName" type="text" placeholder="Last name"
                 class="sup-data"/>
        </div>
        <div class="form-in">
          <label for="email">Email</label>
          <input [(ngModel)]="registrationRequest.email" id="email" type="email" placeholder="Email"
                 class="sup-data"/>
        </div>
        <div class="form-in">
          <label for="Password">Password</label>
          <input [(ngModel)]="registrationRequest.password" id="password" type="password" placeholder="Password"
                 class="sup-data"/>
        </div>

        <button type="button" id="register" (click)="register()">Join</button>
      </div>
    </div>
  </main>

  <div class="login-ref">
    <h4 class="title">Already member?</h4>
    <button type="button" id="login" (click)="login()">Log In</button>
  </div>
</div>
