<nav class="global-header-nav">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/" id="verify">
        <span class="nav-icon-wrap"><i class="fa-solid fa-circle-check verify-icon"></i></span>
        <label>Verify</label>
      </a>
    </li>
    <li class="nav-item">
      <a href="/" id="dashboard">
        <span class="nav-icon-wrap"><i class="fa-solid fa-earth-europe"></i></span>
        <label>Dashboard</label>
      </a>
    </li>
    <li class="nav-item">
      <a href="/" id="inbox">
        <span class="nav-icon-wrap"><i class="fa-regular fa-envelope"></i></span>
        <label>Inbox</label>
      </a>
    </li>
    <li class="nav-item">
      <a href="/" id="profile">
        <span class="nav-icon-wrap"><i class="fa-regular fa-user"></i></span>
        <label>Profile</label>
      </a>
    </li>
    <li class="nav-item">
      <div class="settings-dropdown" (click)="dropdownList()">
        <a href="#" id="settings">
          <span class="nav-icon-wrap"><i class="fa-solid fa-gear"></i></span>
          <label>Settings <i class="fa-solid fa-caret-down"></i></label>
        </a>

        <ul class="settings-options" id="settings-options">
          <li class="settings-option">
            <a href="/">Account & Settings</a>
          </li>
          <li class="settings-option">
            <a href="/">Log Out</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

