* {
  background-color: var(--light-black);
  color: var(--white);
}

.checkbox-wrap {
  display: flex;
  align-items: flex-center;

  & label {
    margin: 0;
  }

  & .checkbox {
    margin-right: 8px;
    height: 20px;
    width: 20px;
  }
}

.form-control {
  color: var(--white);
  &:focus {
    background-color: var(--grey);
  }
}
