.create {
  background-color: var(--light-black);
  * {
    background-color: var(--light-black);
    color: var(--white);
  }
}

.main {
  width: 600px;
  margin: 0 auto;
}
.main-title {
  background-color: var(--grey);
}

.modal-footer {
  background-color: var(--grey);
}
.btn-cancel,
.btn-create,
.btn-delete {
  color: white !important;
}


.btn-cancel {
  background-color: rgba(255, 255, 255, 0.6) !important;
  width: 100px !important;
  border-radius: 0;
}
.btn-create {
  background-color: var(--orange) !important;
  width: 100px !important;
  border-radius: 0;
}
.btn-delete {
  background-color: red !important;
  width: 100px !important;
  border-radius: 0;
  align-self: start;
}

.form-input {
  margin-bottom: 20px;
}
.required {
  color: var(--orange) !important;
  padding-left: 3px;
}

.modal-title {
  text-transform: capitalize;
}

.modal-footer {
  background-color: var(--grey);
  * {
    background-color: var(--grey);
  }
}
.fa-solid {
  font-size: 2em;
  cursor: pointer;
}
.hosts {
  width: 150px;
  left: 550px;
  top: 30px;
}

.error {
  border: 1px solid red;
}