<div class="card" style="width: 18rem" *ngIf="user$ | async as user">
  <div class="image-container" id="img-pane">
    <img *ngIf="user.userInfo?.userPhoto" [src]="user.userInfo?.userPhoto" class="card-img-top" alt="Uploaded Image">
    <img *ngIf="!user.userInfo?.userPhoto" src="/assets/imgs/profile-img.png" class="card-img-top" alt="Default Image"/>
  </div>

  <div class="card-body">
    <span class="title d-block">Overview</span>

    <span class="item">
      <i class="fa-solid fa-comment me-2"></i>
      <span>Fluent in {{ user.userInfo?.languages }} </span>
    </span>

    <span class="item">
      <i class="fa-solid fa-venus-mars me-2"></i>
      <span>{{ user.userInfo?.age }}&nbsp;years</span>
    </span>

    <span class="item">
      <i class="fa-solid fa-briefcase me-2"></i>
      <span>{{ user.userInfo?.occupation }}</span>
    </span>

    <span class="item">
      <i class="fa-solid fa-graduation-cap me-2"></i>
      <span>{{ user.userInfo?.education }} </span>
    </span>

  </div>
</div>
