.surfer-reviews {
  color: var(--light-blue);
}
.surfer-reviews:hover {
  color: var(--dark-blue);
}

.host-reviews {
  color: var(--light-green);
}
.host-reviews:hover {
  color: var(--dark-green);
}

.review-type {
  cursor: pointer;
}
.trip {
  & * {
    color: var(--white);
  }
}
.read-more {
  color: var(--light-blue);
  cursor: pointer;
}

.text-info {
  color: var(--white) !important;
}
.date {
  color: rgba(255, 255, 255, 0.5);
}

.user_link {
  cursor: pointer;
}
