<div class="references">
  <h5 class="my-5">
    {{ "references" | uppercase }}
  </h5>
  <div class="col-10 d-flex justify-content-evenly column-gap-5">
    <div class="review-type">
      <span class="title d-block mb-5">
        <span
          class="ps-1 ps-3 surfer-reviews"
          (click)="setServiceType('ACCOMMODATION_REQUEST')"
        >
          {{ "from surfers" | uppercase }}
        </span>
      </span>
    </div>
    <div class="review-type">
      <span class="title d-block mb-5">
        <span
          class="ps-1 ps-3 host-reviews"
          (click)="setServiceType('ACCOMMODATION_PROVISION')"
        >
          {{ "from hosts" | uppercase }}
        </span>
      </span>
    </div>
  </div>

  <div class="col-10" style="min-height: 420px">
    <div *ngIf="!composedReviews$.getValue().length" class="content my-5 text-center">
      <span>You have no reviews.</span>
    </div>
    <div
      class="trips d-flex flex-column justify-content-between"
      *ngIf="composedReviews$ | async as r"
    >
      <div class="trip d-flex py-4 px-2 gap-3" *ngFor="let review of r">
        <a (click)="viewProfile(review.reviewSender.id)" class="user_link">
          <img *ngIf="review.reviewSender.userInfo?.userPhoto" [src]="review.reviewSender.userInfo?.userPhoto"
               class="d-flex"
               style="width: 150px; height: 150px" alt="Uploaded Image">
          <img *ngIf="!review.reviewSender.userInfo?.userPhoto" src="/src/assets/imgs/profile-img.png"
               class="d-flex"
               style="width: 150px; height: 150px" alt="Default Image"/>
        </a>

        <div class="d-flex flex-column align-items-start w-100">
          <div class="heading d-flex w-100 justify-content-between">
            <div class="user-data">
              <a (click)="viewProfile(review.reviewSender.id)" class="user_link">
                <h4 class="name">{{ review.reviewSender.fullName }}</h4>
              </a>

              <h5 class="">{{ review.reviewSender.userInfo?.location }}</h5>
            </div>
            <span class="date">{{review.request.to | date: 'MMM yyyy'}}</span>
          </div>

          <h6 class="would-repeat"
              [style.color]="review.review.wouldRepeat ? 'var(--light-green)' : 'var(--light-red)'">
            <i class="fa-solid fa-star me-1"
               [style.color]="review.review.wouldRepeat ? 'var(--light-green)' : 'var(--light-red)'"></i>
            Comfirmed Stay - {{ review.review.wouldRepeat ? 'Would Stay Again' : "Wouldn't Stay Again" }}
          </h6>
          <span class="text-info">
            {{ review.review.reviewMessage }}
          </span>
          <span class="w-100 text-end">
            <a class="read-more">Read more</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
