.content {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  color: var(--white);
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 40%;
  background-color: var(--dark-black);
  border-radius: 5px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  border-radius: 5px;
  font-size: 20px;
}

.form-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.form-check {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

#signId, #register {
  width: 400px;
  height: 50px;
  border-radius: 5px;
}

#signId {
  color: var(--white);
  background-color: var(--light-blue);
}

#register {
  color: var(--light-blue);
  border: 3px solid var(--light-blue);
  background-color: transparent;
}

.register-ref {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.err {
  width: 400px;
  font-size: 16px;
}

