.global-dashboard {
    display: flex;
    justify-content: space-around;
}

.dashboard-wrap {
    color: var(--white);
    margin-top: 80px;
    margin-bottom: 11px;
    background: transparent;

    max-height: 200vh;
    width: 80%;

    display: flex;
    column-gap: 11px;
}

.left-side, .right-side {
    background-color: transparent;

    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.left-side {
    max-width: 400px;
}

.right-side {
    width: 950px;
}

