<div class="to-do">
  <header class="todo-header">
    <h1 class="todo-header-title">
      <span class="todo-icon-wrap"><i class="fa-regular fa-calendar-check"></i></span>
      &nbsp;To-Do List
    </h1>
  </header>
  <div class="todo-content-container">
    <section class="card">
      <div class="card-icon">
        <i class="fa-solid fa-circle-info"></i>
      </div>
      <div class="card-content">
        <h1 class="card-content-title">Safety</h1>
        <span>Whether you’re hosting a guest, surfing, or hanging out with fellow Couchsurfers, we want you to be safe.</span>
      </div>
      <div class="card-actions">
        <ul class="card-actions-list">
          <li class="card-actions-list-item read">
            <a class="card-action" href="#">Read About Safety</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="card last-card">
      <div class="card-icon">
        <i class="fa-solid fa-circle-check verify-icon"></i>
      </div>
      <div class="card-content-wrap">
        <div class="card-content">
          <h1 class="card-content-title">Get Verified</h1>
          <span>Find hosts up to 2x faster</span>
        </div>
        <div class="card-actions">
          <ul class="card-actions-list">
            <li class="card-actions-list-item verify">
              <a class="card-action" href="#">Verify</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
