<nav class="global-header-nav">
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="{{ verificationLink }}" href="" id="verify">
        <span class="nav-icon-wrap"
          ><i class="fa-solid fa-circle-check verify-icon"></i
        ></span>
        <label>Verify</label>
      </a>
    </li>
    <li
      class="nav-item page-nav"
      (click)="onNavbarItemSelect('dashboard')"
      [class.selected]="selectedItem === 'dashboard'"
    >
      <a routerLink="{{ dashboardLink }}" id="dashboard">
        <span class="nav-icon-wrap"
          ><i class="fa-solid fa-earth-europe"></i
        ></span>
        <label>Dashboard</label>
      </a>
    </li>
    <li
      class="nav-item page-nav"
      (click)="onNavbarItemSelect('inbox')"
      [class.selected]="selectedItem === 'inbox'"
    >
      <a routerLink="/not-found" id="inbox">
        <span class="nav-icon-wrap"
          ><i class="fa-regular fa-envelope"></i
        ></span>
        <label>Inbox</label>
      </a>
    </li>
    <li
      class="nav-item page-nav"
      (click)="onNavbarItemSelect('profile')"
      [class.selected]="selectedItem === 'profile'"
    >
      <a routerLink="/profile" id="profile">
        <span class="nav-icon-wrap"><i class="fa-regular fa-user"></i></span>
        <label>Profile</label>
      </a>
    </li>
    <li class="nav-item">
      <div class="settings-dropdown" (click)="logout()">
        <a id="settings">
          <span class="nav-icon-wrap"><i class="fa-solid fa-right-from-bracket"></i></span>
           <label>Log out</label>
        </a>
      </div>
    </li>
  </ul>
</nav>
