.global-header {
  background: var(--dark-black);
  box-shadow: var(--shadow);

  display: flex;
  width: 100vw;
  height: 69px;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  z-index: 6;
  font-size: 16px;
}

.global-header-wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global-header-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 67px;
}

app-search {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-navbar {
  height: 100%;
}
