* {
  color: var(--white);
}
.status {
  color: var(--orange);
}
.btn-edit {
  background-color: var(--light-blue);
  width: 150px;
  border-radius: 0;
}

.about-counter {
  background-color: var(--light-blue);
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 1px;
}
.item {
  color: var(--light-blue);
}
.tab-link {
  color: var(--light-blue);
}
.active-tab {
  color: var(--orange);
}

.overview {
  /* border: 1px dotted yellow; */
  & h5 {
    color: var(--white);
    text-transform: uppercase;
  }
}
.overview-options {
  & span {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.bookmark {
  cursor: pointer;
}
