<div class="card" style="width: 18rem" *ngIf="user$ | async as user">

  <div class="image-container" id="img-pane">
    <img *ngIf="user.userInfo?.userPhoto" [src]="user.userInfo?.userPhoto" class="card-img-top" alt="Uploaded Image">
    <img *ngIf="!user.userInfo?.userPhoto" src="/assets/imgs/profile-img.png" class="card-img-top" alt="Default Image"/>
  </div>

  <div class="card-head text-center mt-3 mb-5">
    <h3 class="card-title">{{ user.fullName }}</h3>
    <span class="card-caption">{{ user.userInfo?.location }}</span>
  </div>
  <div class="card-body">
    <h5 class="verified text-success" *ngIf="user.isVerified; else notverified">Verified</h5>
    <ng-template #notverified><h6 class="verified text-danger">Profile not Verified</h6></ng-template>
    <div class="main">
      <ul class="my-3">
        <li class="verified-item my-2">
          <span
            ><i class="fa-solid fa-circle me-2"></i>Payment not verified</span
          >
        </li>
        <li class="verified-item my-2">
          <span><i class="fa-solid fa-circle me-2"></i>Phone not verified</span>
        </li>
        <li class="verified-item my-2">
          <span>
            <i class="fa-solid fa-circle me-2"></i>Goverment ID not
            verified</span
          >
        </li>
      </ul>
    </div>

    <div class="card-footer px-0">
      <button class="verify-btn btn w-100" routerLink="/verify">
        <i class="fa-solid fa-circle-check me-1"></i>Upgrade to Verify Profile
      </button>
      <span class="footer-caption d-block mt-3 text-center">Verified members find hosts faster</span>
    </div>
  </div>
</div>
