.card {
  background-color: var(--black);
  color: var(--white);
}
.card-head {
  & .card-caption {
    color: var(--light-blue);
  }
}
.verify-btn {
  background-color: var(--light-green);
  color: white;
  border-radius: 0;
}
.footer-caption {
  opacity: 0.8;
  font-size: 0.8em;
}

.image-container {
  width: 18rem;
  min-height: 250px;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}
