<div class="pagenotfound jumbotron text-center">
  <div class="pagenotfound__image">
    <picture>
      <img class="banner-404" src="../../../assets/imgs/banner_404.png" alt="404_page"/>
    </picture>
    <div class="message-form container d-flex flex-column row-gap-2 align-items-center">
      <h2>— Ні сорому, ні совісті!</h2>
      <p class="pagenotfound__text">
        Error 404. Incorrect URL, or this page doesn't exist.
      </p>
      <a class="pagenotfound__button mt-3" routerLink="/dashboard" title="Go to homepage">Go to home page</a>
    </div>
  </div>
</div>
