<div class="container p-3">
  <span class="title d-block mb-5"
    ><i class="pe-2 fa-regular fa-calendar-check"></i
    >{{ "to-do list" | uppercase }}</span
  >
  <div class="verify d-flex justify-content-between">
    <div class="mark d-flex align-items-center gap-3">
      <div class="card-icon">
        <i class="fa-solid fa-circle-check verify-icon"></i>
      </div>
      <div class="info d-flex flex-column">
        <span class="title fw-bold">{{ "get verified" | titlecase }}</span>
        <span class="caption">Find hosts up to 2x faster</span>
      </div>
    </div>
    <div class="control">
      <button class="btn" (click)="verify()">Verify</button>
    </div>
  </div>
</div>
