<div class="main mt-3">
  <div class="heading">
    <h2>{{ user.fullName }}</h2>
    <h5>Location: {{ user.userInfo?.location }}</h5>
    <div class="nav d-flex justify-content-between align-items-center">
      <ul class="d-flex gap-2">
        <li class="px-3" *ngFor="let tab of tabs">
          <a (click)="swapTab(tab)">{{ tab }}</a>
        </li>
      </ul>
      <div class="controls d-flex gap-4">
        <button class="btn-save btn" (click)="updateUser()">Save</button>
        <button class="btn-cancel btn" (click)="cancelForm()">Cancel</button>
      </div>
    </div>
  </div>
  <div class="about">
    <div *ngIf="isInfoFormActive">
      <app-about-form [user]="user"></app-about-form>
    </div>
    <div *ngIf="!isInfoFormActive">
      <app-home-form [user]="user"></app-home-form>
    </div>
  </div>
</div>
