<div class="card px-3">
  <div class="card-body">
    <div *ngIf="currentUser">
      <h5 class="card-title text-center">{{ currentUser.fullName }}</h5>
      <span *ngIf="currentUser.userInfo" class="location d-block text-center">
        {{ currentUser.userInfo.location }}
      </span>

      <div *ngIf="currentUser.userHome">
        <span *ngIf="currentUser.userHome.isAcceptingGuests"
              class="status d-block text-center my-5">Accepting Guests</span>
        <span *ngIf="!currentUser.userHome.isAcceptingGuests"
              class="status d-block text-center my-5">Non Accepting Guests</span>
      </div>
      <div *ngIf="!currentUser.userHome">
        <span class="status d-block text-center my-5">Non Accepting Guests</span>
      </div>
    </div>

    <span class="profile d-block mb-5">MY PROFILE</span>
    <div
      class="progress"
      role="progressbar"
      aria-label="Basic example"
      aria-valuenow="50"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div class="progress-bar" style="width: 50%">55% complete</div>
    </div>
    <a routerLink="profile/edit-profile" class="complete mt-5 app-link d-block text-center">Complete My Profile</a>
  </div>
</div>
