<form class="mt-5" [formGroup]="form">
  <div class="checkbox-wrap mb-3 d-flex">
    <label for="img" class="form-label w-25">Image</label>
    <div class=" ">
      <input
        type="file"
        class="form-control"
        id="img"
        autocomplete="off"
        (change)="onFileSelected($event)"
        accept="image/*"
      />
    </div>
  </div>

  <div class="checkbox-wrap mb-3 d-flex">
    <label for="age" class="form-label w-25">Age</label>
    <div class=" ">
      <input
        type="number"
        class="form-control"
        id="age"
        autocomplete="off"
        formControlName="age"
        min="1"
      />
    </div>
  </div>

  <div class="checkbox-wrap mb-3 d-flex">
    <label for="location" class="form-label w-25">Location</label>
    <input
      type="text"
      class="form-control w-75"
      id="location"
      autocomplete="off"
      formControlName="location"
      placeholder="City, Region, Country"
    />
  </div>

  <div class="mb-3 d-flex">
    <label for="occupation" class="form-label w-25">Occupation</label>
    <input
      type="text"
      class="form-control w-75"
      id="occupation"
      formControlName="occupation"
    />
  </div>

  <div class="mb-3 d-flex">
    <label for="education" class="form-label w-25">Education</label>
    <input
      type="text"
      class="form-control w-75"
      id="education"
      formControlName="education"
    />
  </div>

  <div class="mb-3 d-flex">
    <label for="education" class="form-label language-label w-25"
    >Language i am fluent in</label
    >
    <div class="inputs w-50">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let l of languages">
          <i class="fa-solid fa-trash-can me-2" (click)="removeLanguage(l)"></i
          >{{ l }}
        </li>
      </ul>
      <select
        class="form-select form-select-lg mb-3"
        aria-label="Large select example"
        (change)="addLanguage()"
        formControlName="languages"
      >
        <option *ngFor="let l of languagesSet" value="{{ l }}">{{ l }}</option>
      </select>
    </div>
  </div>

  <div class="mb-3">
    <label for="education" class="form-label w-25">About me</label>
    <textarea
      type="text"
      class="form-control"
      id="about-me"
      rows="6"
      formControlName="aboutText"
    ></textarea>
  </div>
</form>
