.main-pane {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.options {
  margin-top: 50px;
  color: var(--white);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.image-container {
  width: 600px;
  min-height: 550px;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

input[type="file"] {
  color: transparent;
}

.vbtn {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: var(--white);
  font-size: 20px;
}

.msg {
  width: 400px;
  font-size: 16px;
  color: var(--dark-black);
}

#clear {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

#verify {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
}

#verify:hover {
  background-color: var(--dark-green);
  border: 1px solid var(--dark-green);
}

#img-pane {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid var(--grey);
  border-radius: 5px;
}

#img-pane img {
  padding: 20px;
  width: 100%;
}
